/* Login Help */

#loginProb{
    max-height: 56vh;
}

#loginProb span{
    font-size: large;
    display: list-item;
}

#loginProb span:hover{
    color: blue;
}
 /* Login Help 3 */

 #helpLogin .thirdPoint{
     border: solid;
 }

 .errorMessage{
     color: red;
     margin-left: 12px;
     
 }



