
/* ================Main container================= */
.container-fluid{
    padding-top: 135px;
}

/* ===============carousel=================== */

 .imgc {
    height: 85vh;
  }

  @media screen and (max-width: 1080px) and (min-width: 320px){
    .img-responsive {
        height: auto;
      }
  }

/* =================downside images================== */

.card-img-top:hover{
  transform: scale(1.5);
}