<div class="jumbotron">
    <div class="row">
        <div class="col-4 col-sm-2 nav-bar">
            <ul class="pl-0 pt-4">
                <li (click)="activate(1)" [ngStyle]="loadForm?.persionalDetails && listactiveStatus">
                    <span [ngStyle]="loadForm?.persionalDetails && spanactiveStatus">Persional Details</span>
                </li>
                <li class="mt-3" (click)="activate(2)" [ngStyle]="loadForm?.residentialDetails && listactiveStatus">
                    <span [ngStyle]="loadForm?.residentialDetails && spanactiveStatus">Residential Details</span>
                </li>
                <li class="mt-3" (click)="activate(3)"
                    [ngStyle]="loadForm?.educationalOccupational  && listactiveStatus">
                    <span [ngStyle]="loadForm?.educationalOccupational && spanactiveStatus">Educational & Occupational
                        Details</span>
                </li>
                <li class="mt-3" (click)="activate(4)" [ngStyle]="loadForm?.uploadPhoto && listactiveStatus">
                    <span [ngStyle]="loadForm?.uploadPhoto && spanactiveStatus">Upload Photo</span>
                </li>
            </ul>
        </div>
        <div class="col-8 col-sm-10 form">
            <ul>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>

                <li>
                    <a href="">Persional Details</a>
                </li>

                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
                <li>
                    <a href="">Persional Details</a>
                </li>
            </ul>
        </div>
    </div>

</div>