<div class="container-flex fixed-top">
  <div class="header bg-light">
    <div class="row no-gutters">
      <div class="col-2 col-sm-1">
        <img src="../assets/download(1).ico" alt="logo" style="height: 5rem;">
      </div>
      <div class="col-8 col-sm-8 my-auto">
        <input type="text" id="searchBar" class="w-100 pl-2" placeholder="Search Member by ID or Name"
          aria-hidden="false" [ngStyle]="match && searchChange" (keyup)="searchUser($event)" [(ngModel)]="searchedUser">
        <i class="fa fa-times float-right fa-2x cross" aria-hidden="true" (click)="clear($event)" *ngIf="match"></i>

        <div class="searchDropdown w-100 position-absolute bg-light" *ngIf="match">
          <ul>
            <li *ngFor="let user of matchedUser" id="userList">
              {{user}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2 col-sm-1 my-auto">
        <img src="../assets/lang.svg" alt="language" class="float-right" id="langlogo">
      </div>
      <div class="col-2 my-auto d-none d-sm-inline text-center">
        <button class="btn btn-success" (click)="loginsignupDialog()"> Login/SignUp </button>
      </div>
    </div>
  </div>
  <hr>
  <!--=============== Nav Bar =============================-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="btn-sm btn-success d-xs-block d-sm-none" (click)="loginsignupDialog()">
      Login/SignUp
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': navOpen}" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" aria-expanded="false">
            About Us
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Gallery
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Schemes
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Zones
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
