<div class="container-flex">
  <div class="header">
    <div class="row no-gutters">
      <div class="col-2 col-sm-1">
        <img src="../assets/download.png" alt="logo" style="height: 5rem;">
      </div>
      <div class="col-8 col-sm-8 my-auto">
        <input type="text" id="searchBar" class="w-100 pl-2" placeholder="Search Member by ID or Name"
          aria-hidden="false">
      </div>
      <div class="col-2 col-sm-1 my-auto">
        <img src="../assets/lang.svg" alt="lang" class="float-right">
      </div>
      <div class="col-12 col-sm-2 my-auto">
        <button class="btn btn-success ml-5 float-right"> Login/SignUp </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="nav-bar" style="background-color: #DCDCDC !important;">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="d-inline-flex flex-xs-column flex-md-row flex-row">
          <ul class="nav">
            <li class="dropdown">
              <a data-toggle="dropdown" style="border-radius:0 !important" aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Gallery
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Schemes
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Zones
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div class="container-flex">
  <div class="header">
    <div class="row no-gutters">
      <div class="col-12 col-sm-2">
        <img src="../assets/download.png" alt="logo">
      </div>
      <div class="col-12 col-sm-7 my-auto">
        <input type="text" id="searchBar" class="w-100 pl-2" placeholder="Search Member by ID or Name"
          aria-hidden="false">
      </div>
      <div class="col-12 col-sm-1 my-auto">
        <img src="../assets/lang.svg" alt="lang" class="mx-4">
      </div>
      <div class="col-12 col-sm-2 my-auto">
        <button class="btn btn-success ml-5"> Login/SignUp </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="nav-bar" style="background-color: #DCDCDC !important;">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="d-inline-flex flex-xs-column flex-md-row flex-row">
          <ul class="nav">
            <li class="dropdown">
              <a data-toggle="dropdown" style="border-radius:0 !important" aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Gallery
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Schemes
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="dropdown">
              <a class="pl-2" data-toggle="dropdown" style="border-radius:0 !important">
                Zones
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->