/* * {
    outline: 1px solid red;
   } */
/*=================== Search Bar ======================*/

*:focus {
    outline: none;
}

#langlogo:hover{
    display: block;
    border-radius: .5rem;
    background-color: black;
}

#langlogo:active{
    background-color: khaki;
}

#searchBar{
    border: 2px solid;
    border-radius: 1rem;
    height: 2.5rem !important;
    box-shadow: 3px 3px 2.5px grey;
}

#searchBar:hover{
    background-color: khaki;
    border: 0;
    transition: step-start;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0px !important;
    border: 1px solid;
  }

  .cross {
    float: right;
    margin-right: 18px;
    margin-top: -36px;
    position: relative;
    z-index: 2;
    color: black;
}

/* ============Dropdown search box================= */

.searchDropdown{
    z-index: 1;
    top: 40px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
}

#userList{
    list-style: none;
}

/*======================= Nav Bar ===========================*/


.nav-item a{
    color: khaki;
}

.nav-item li a{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    background-image: url('../assets/picture-2sahding.png');
    /* opacity: 0.6; */
}
.nav-item a:hover{
    background: khaki;
}
.dropdown li:hover a {
    /* color: #DCDCDC; */
    background-color: khaki;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background: #01abf8;
 }

 .dropdown>.dropdown-toggle:active {
    /* Without this, clicking will make it sticky */
      pointer-events: none;
  }


